body {
    font-family: 'M PLUS Rounded 1c';
    margin: 2rem 4rem;
    justify-content: center;
}

h1 {
    font-size: 53px;
}

h2 {
    font-size: 44px;
}

p {
    font-size: 18px;
}

.about h2 {
    font-weight: normal;
    margin: 0px;
}

header, .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logoImage img {
    max-width: 100px; /* Adjust size of logo */
    height: auto;
}

.navbar {
    display: flex;
    gap: 20px; /* Space between navigation links */
}

.navbar a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.leftElement {
    width: 50%;
}

.rightElement {
    margin-left: 30px;
    width: 50%; /* Adjust size of logo */
    height: auto;
}

footer {
    display: flex;
}


.bar {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 20px;
    width: 100%;
    background-image: linear-gradient(to left,#4BEB8E, #3BF1FF);
}



.about {
    display: flex;
}