body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
    line-height: 1.6;
}

header {
    padding: 1%;
}

nav {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-weight: bolder;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
}

nav ul li a:hover {
    border-bottom: 1px solid black;
}

.bar {
    height: 20px;
    width: 100%;
    background-image: linear-gradient(to left, #4BEB8E, #3BF1FF);
}

h1 {
    padding: 5%;
    text-align: center;
    font-size: 55px;
}

.menu {
    padding: 2%;
    background-color: #ffffff;
    text-align: center;
}

/* Flex */
.menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu-card {
    background-color: #f7f9fc;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-card img {
    width: 100%;
    border-radius: 10px;
}

.menu-card h3 {
    margin-top: 15px;
}

.menu p {
    margin-bottom: 30px;
}

.menu-card a {
    text-decoration: none;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #33c3f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.menu-card a:hover {
    background-color: black;
}

.contact {
    margin-top: 5%;
    background-color: #77e6df;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.contact-info h3 {
    margin-bottom: 15px;
}

.contact-images img {
    width: 150px;
    margin-left: 20px;
    border-radius: 10px;
}

footer {
    background-color: #222;
    color: white;
    text-align: right;
    padding: 20px 0;
}

footer p {
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    .menu-items {
        grid-template-columns: repeat(2, 45%);
    }

    .menu-card {
        width: 80%;
        margin-bottom: 20px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-images img {
        width: 100px;
    }

    footer {
        text-align: center;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 30px;
        padding: 10%;
    }

    .menu-card {
        width: 100%;
    }

    .menu-items {
        grid-template-columns: repeat(1, 80%);
    }

    .contact {
        padding: 10%;
        flex-direction: column;
        align-items: center;
    }

    .contact-images img {
        width: 80px;
        margin: 10px 0;
    }

    footer {
        padding: 10px 0;
    }
}
