* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}

body {
    line-height: 1.6;
}

header {
    padding: 1%;
}

nav {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-weight: bolder;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
}

nav ul li a:hover {
    border-bottom: 1px solid black;
}

.bar {
    height: 20px;
    width: 100%;
    background-image: linear-gradient(to left,#4BEB8E, #3BF1FF);
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
}

.left-section {
    flex: 1;
    padding: 50px;
}

.left-section h4 {
    color: #666;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}

.left-section h1 {
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.left-section h1 span {
    color: #A2845E; /* Warna hijau */
}

.left-section p {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn-start {
    background-color: #3BF1FF;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-start a {
    color: white;
    text-decoration: none;
}

.btn-start:hover {
    background-color: #2DC7D2;
}

.message {
    color: #777;
    margin-top: 15px;
}

.right-section {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.right-section h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.right-section p {
    color: #777;
    margin-bottom: 30px;
    font-size: 14px;
}

.contact-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form .btn-submit {
    width: 100%;
    padding: 15px;
    background-color: #3BF1FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form .btn-submit:hover {
    background-color:  #2DC7D2;
}

.contact {
    margin-top: 5%;
    background-color: #77e6df;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.contact-info h3 {
    margin-bottom: 15px;
}

.contact-images img {
    width: 150px;
    margin-left: 20px;
    border-radius: 10px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}


/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .left-section {
        padding: 20px;
    }

    .right-section {
        margin-top: 20px;
        max-width: 100%;
    }
}
