* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}

body {
    line-height: 1.6;
}

header {
    padding: 1%;
}

nav {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-weight: bolder;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
}

nav ul li a:hover {
    border-bottom: 1px solid black;
}

.bar {
    height: 20px;
    width: 100%;
    background-image: linear-gradient(to left,#4BEB8E, #3BF1FF);
}

.about {
    padding: 5% 5% 0 5%;
    display: flex;
}

.leftElement h1 {
    font-size: 64px;
}

.rightElement {
    text-align: right;
    width: 100%;
}

.abouts {
    font-weight: 100;
    font-size: 45px;
}

p {
    padding: 0 40% 0 5%;
}

.menu {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.menu h1 {
    font-size: 3rem;
}

.menu h2 {
    color: #A2845E;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-card {
    padding: 5% 5% 5% 5%;
}

.menu button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #33c3f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
} 

.testimonials {
    padding: 50px;
    background-color: #eef6f8;
    text-align: center;
}

.testimonials h2 {
    margin-bottom: 30px;
}

.testimonials-container {
    display: flex;
    justify-content: space-around;
}

.testimonial-card {
    background-color: white;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact {
    background-color: #77e6df;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.contact-info h3 {
    margin-bottom: 15px;
}

.contact-images img {
    width: 150px;
    margin-left: 20px;
    border-radius: 10px;
}

footer {
    background-color: #222;
    color: white;
    text-align: right;
    padding: 20px 0;
}
